body {
	background-color: rgba(133, 138, 242, 1) !important;
}
.blocForm {
	margin-left: 10%;
	width: 80%;
	height: auto;
	flex-wrap: wrap;
	display: flex;
	justify-content: center;
}
.bloc {
	text-align: center;
	width:35%;
	color:white;
	font-size: 2em;
	box-shadow: 5px 5px 10px 0 #c0c0c0;
	border:2px solid black;
	border-radius: 10px;
	height: 400px;	
	background-color: rgba(242, 214, 75, 0.8);	

}
.bloc:hover {
	cursor: pointer;
	background-color: rgba(242, 214, 75, 1);
}
.inscription {	
	margin: 2em;
}
.connection{
	margin: 2em;
}
.free{
	margin: 2em;
}

#meteo {
	border: 1px solid
	black;
	border-radius: 10px;
	width: 20%;
	text-align: center;
	color: white;
	margin-left: 40%;
}
#infoMeteo {
	width: 30%;
	text-align: center;
	border: 1px solid
	black;
	border-radius: 10px;
	margin-left: 35%;
}
#id {
	display: none;
}
/* Color Theme Swatches in Hex */
.Digital-information-board-with-the-schedule-of-flights-at-the-airport-1-hex { color: #2405F2; } 
.Digital-information-board-with-the-schedule-of-flights-at-the-airport-2-hex { color: #1D04BF; }
.Digital-information-board-with-the-schedule-of-flights-at-the-airport-3-hex { color: #07038C; }
.Digital-information-board-with-the-schedule-of-flights-at-the-airport-4-hex { color: #858BF2; }
.Digital-information-board-with-the-schedule-of-flights-at-the-airport-5-hex { color: #F2D64B; }

/* Color Theme Swatches in RGBA */
.Digital-information-board-with-the-schedule-of-flights-at-the-airport-1-rgba { color: rgba(36, 4, 242, 1); }
.Digital-information-board-with-the-schedule-of-flights-at-the-airport-2-rgba { color: rgba(28, 3, 191, 1); }
.Digital-information-board-with-the-schedule-of-flights-at-the-airport-3-rgba { color: rgba(7, 2, 140, 1); }
.Digital-information-board-with-the-schedule-of-flights-at-the-airport-4-rgba { color: rgba(133, 138, 242, 1); }
.Digital-information-board-with-the-schedule-of-flights-at-the-airport-5-rgba { color: rgba(242, 214, 75, 1); }

